
<nav class = "navbar">
    <div class="wrapper">
        <strong><a href="{% url 'index' %}" class="navbar-brand">Covoiturage</a></strong>
        <div id="user-tools">
            <ul class="navbar-right">
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'conducteur' %}">Conducteur</a></li>
            <li><a href="{% url 'passager' %}">Passager</a></li>
            <li><a href="{% url 'trajetoire' %}">Trajet</a></li>
        </ul>
        </div>
    </div>
</nav>


